.mod_Hello {
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.dylan-hello-world-container {
  background-color: lightblue;
  padding: 10px;
  color: black;
  font-size: large;
  font-weight: bold;
}

.dylans-hello-world-live-container {
  background-color: #90ee90;
  padding: 3px;
}

.dylans-hello-world-live-container ul,
.dylans-hello-world-live-container li {
  margin: 0;
}
